$colr-berkeleyblue: #1d3557;
$color-cerulean: #457b9d;
$color-honeydew-dark: #e2f4ea;
$color-indianred: #e86068;
$gutter-hz: 2rem;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.navbar {
  max-width: 114rem;
  margin: 0 auto;
  color: #1d3557;

  @include clearfix;

  [class*="__col"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-hz;
    }
  }

  &__col {
    width: calc((100% - 2 * #{$gutter-hz}) / 3);
    .logo {
      display: flex;
      padding-left: 1rem;

      & img {
        display: inline-block;
      }

      &__text {
        margin-left: 2rem;
        padding-top: .4rem;
        font-size: 2rem;
        text-transform: uppercase;
        color: $colr-berkeleyblue;
        font-weight: 700;
      }
    }

    .form {
      padding: 0.6rem 0;
      .searchbar {
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem;
      }
    }

    ul {
      margin: 0;
      padding: 0.7rem 0;
      overflow: hidden;
      text-decoration: none;
      list-style-type: none;
      float: right;
      font-weight: bold;
      font-size: 1.2rem;

      li {
        display: inline-block;
        margin: 0 1rem;

        a {
          display: block;
          text-align: center;

          &:hover {
            color: #1d3557;
          }
        }
      }
    }

    button {
      font-size: 1.2rem;
      background-color: $color-indianred;
      border: 1px solid $color-cerulean;
      font-weight: bold;
      padding: 0.5rem 1.5rem;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: $color-cerulean;
        color: $color-honeydew-dark;
      }
    }
  }
}
