@import "@scss/abstracts/variables";

.footer__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 14.7rem;
  background-color: $color-berkeleyblue;
  border-radius: .8rem;
}
