.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.3rem 1rem rgba($color-berkeleyblue, 0.7);
  border-radius: 6px;
  overflow: hiden;

  &__body {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    border-radius: 6px;
    overflow: hiden;
  }

  &__title {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: $size18;
    color: $color-white;
    background-image: linear-gradient(
      45deg,
      rgba(rgb(145, 3, 3), 0.7),
      rgba(rgb(2, 2, 146), 0.7)
    );
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 1rem;
  }
}
.container-overflowY {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  // overflow-y: auto;
}
