// COLOR
$color-berkeleyblue: #1d3557;
$color-cerulean-light: #5497c0;
$color-cerulean: #457b9d;
$color-honeydew: #f1faee;
$color-honeydew-dark-1: #bcc4b9;
$color-honeydew-dark-2: #7e8c84;
$color-nonphotoblue: #a8dadc;
$color-indianred-light: #ffa4aa;
$color-indianred: #e86068;
$color-redpantone: #e63946;
$color-paynesgray: #4a5d79;
$color-white: #fff;
$color-grey-light-1: rgb(242, 242, 242);
$color-grey-light-2: rgb(207, 203, 203);
$color-grey-light-3: rgb(172, 170, 170);
$color-grey-light-4: rgb(151, 151, 151);
$color-grey-dark-1: rgb(111, 111, 111);
$color-grey-dark-2: rgb(99, 98, 98);
$color-grey-dark-3: rgb(73, 73, 73);
$color-grey-dark-4: rgb(53, 53, 53);
$color-grey-dark-5: rgb(33, 33, 33);
$color-brand: #0097fa;
// PODCAT CONTENT BG COLOR
$color-pink: #ff006e;
// BUTTON COLOR
$btn-primary: #2f96fd;
$btn-seconary: #4a5d79;
$bnt-success: #008000;
$btn-dander: #ff3700;
$btn-warning: #ff9900;
$btn-info: #00b7ff;
$btn-light: #f1faee;
$bnt-dark: #333;
