// COLOR
$colr-berkeleyblue: #1D3557;
$color-cerulean: #457B9D;
$color-honeydew: #F1FAEE;
$color-honeydew-dark: #E2F4EA;
$color-nonphotoblue: #A8DADC;
$color-indianred: #E86068;
$color-redpantone: #E63946;
$color-paynesgray: #4A5D79;
// FONTS
$default-font-size: 1.6rem;
// GRID
$grid-mxwidth: 144rem
